.button.primary2 {
  background-color: #f3f4f6;
  padding: 10px 24px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  /* width: fit-content; */
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  color: black;
  border: 0.05px solid rgb(183, 182, 182);
}

.button.primary2 .button-text.primary {
  color: black;
}

.button.primary2:hover {
  background-color: var(--color-secondary-light);
}

.button.primary2:focus {
  background-color: var(--color-secondary-darker);
}

.icon {
  width: 3vh;
  height: 3vh;
  margin-right: 1.5vh;
}

@media screen and (max-width: 430px) {
  .button.primary2 .button-text.primary {
    font-size: 0.9rem;
  }
}
